<!-- start: BREADCRUMB -->
<div class="breadcrumb-wrapper">
	<h4 class="mainTitle no-margin" translate="dashboard.WELCOME" translate-values="{ appName: app.name }">Welcome to Australian City Analytics</h4>
	<span class="mainDescription">About us </span>
	<div ncy-breadcrumb class="pull-right"></div>
</div>
<!-- end: BREADCRUMB -->
<!-- start: FIRST SECTION -->
<div class="container-fluid container-fullw padding-bottom-10">
	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-white">
				<div class="panel-heading border-light">
					<h4 class="panel-title"> Team 21 </h4>
					<ct-paneltool class="panel-tools" tool-refresh="load1" tool-expand="tool-expand"></ct-paneltool>
				</div>
                <div class="panel-body">
					<div class="row">
						<div class="col-sm-12">
							<div class="panel-scroll height-275" perfect-scrollbar wheel-propagation="false" suppress-scroll-x="true">
								<table class="table no-margin">
									<tbody>
										<tr>
											<td class="center"><img alt="image" class="img-circle" src="assets/images/unimelb.jpg"></td>
											<td><span class="text-small block text-light">Andres Parra</span>
											<a href="#">
												Student ID: 704964
											</a></td>
											<td><span class="label partition-purple">Front-End</span>&nbsp;<span class="label partition-purple">Scenarios</span></td>
										</tr>
										<tr>
											<td class="center"><img alt="image" class="img-circle" src="assets/images/unimelb.jpg"></td>
											<td><span class="text-small block text-light">Elyas Khan</span>
											<a href="#">
												Student ID: 571450
											</a></td>
											<td><span class="label partition-green">CouchDB</span>&nbsp;<span class="label partition-green">Harvesting</span></td>
										</tr>
										<tr>
											<td class="center"><img alt="image" class="img-circle" src="assets/images/unimelb.jpg"></td>
											<td><span class="text-small block text-light">Ghazal Nogoorani</span>
											<a href="#">
												Student ID: 690212
											</a></td>
											<td><span class="label partition-blue">Sentiment Analysis</span>&nbsp;<span class="label partition-blue">Scenarios</span>&nbsp;<span class="label partition-blue">Front-End</span></td>
										</tr>
										<tr>
											<td class="center"><img alt="image" class="img-circle" src="assets/images/unimelb.jpg"></td>
											<td><span class="text-small block text-light">Yasmeen George</span>
											<a href="#">
												Student ID: 659634
											</a></td>
											<td><span class="label partition-orange">Sentiment Analysis</span>&nbsp;<span class="label partition-orange">Scenarios</span></td>
										</tr>
										<tr>
											<td class="center"><img alt="image" class="img-circle" src="assets/images/unimelb.jpg"></td>
											<td><span class="text-small block text-light">Woo Jung</span>
											<a href="#">
												Student ID: 519828
											</a></td>
											<td><span class="label partition-green">Ansible</span>&nbsp;<span class="label partition-green">Sentiment Analysis</span></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end: FIFTH SECTION -->
