<!-- start: MAIN NAVIGATION MENU -->
<div class="navbar-title">
    <span translate="sidebar.heading.NAVIGATION">Main Navigation</span>
</div>
<ul class="main-navigation-menu">
    <li ui-sref-active="active">
        <a ui-sref="app.charts">
            <div class="item-content">
                <div class="item-media">
                    <letter-icon data="{{ 'sidebar.nav.charts.MAIN' | translate }}" char-count="2" size="sm"></letter-icon>
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.charts.MAIN"> Charts </span>
                </div>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.search">
            <div class="item-content">
                <div class="item-media">
                    <letter-icon data="{{ 'sidebar.nav.search.MAIN' | translate }}" char-count="2" size="sm"></letter-icon>
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.search.MAIN"> Search Tweets </span>
                </div>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.scenario1">
            <div class="item-content">
                <div class="item-media">
                    <letter-icon data="{{ 'sidebar.nav.scenario1.MAIN' | translate }}" char-count="2" size="sm"></letter-icon>
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.scenario1.MAIN"> Income & Happiness </span>
                </div>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.scenario2">
            <div class="item-content">
                <div class="item-media">
                    <letter-icon data="{{ 'sidebar.nav.scenario2.MAIN' | translate }}" char-count="2" size="sm"></letter-icon>
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.scenario2.MAIN"> Age & Happiness </span>
                </div>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.scenario4">
            <div class="item-content">
                <div class="item-media">
                    <letter-icon data="{{ 'sidebar.nav.scenario4.MAIN' | translate }}" char-count="2" size="sm"></letter-icon>
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.scenario4.MAIN"> Age & Number of Tweets </span>
                </div>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.scenario3">
            <div class="item-content">
                <div class="item-media">
                    <letter-icon data="{{ 'sidebar.nav.scenario3.MAIN' | translate }}" char-count="2" size="sm"></letter-icon>
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.scenario3.MAIN"> Top 5 Languages </span>
                </div>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.dashboard">
            <div class="item-content">
                <div class="item-media">
                    <letter-icon data="{{ 'sidebar.nav.dashboard.MAIN' | translate }}" char-count="2" size="sm"></letter-icon>
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.dashboard.MAIN"> About Us </span>
                </div>
            </div>
        </a>
    </li>
</ul>
<!-- end: MAIN NAVIGATION MENU -->